
body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-family: Comic Sans MS, cursive;
}

audio {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

@media handheld, screen, max-width:500px {
  audio {
    position: absolute;
    left: 0px;
    right: 0px;
    transform: none;
    padding: 5vw;
  }
  
  body {
    background-color: #ffaaaa;
  }
}
