
body {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  font-family: Comic Sans MS, cursive;
}

/*
audio {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}*/

audio {
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0px;
  padding: 5vw;
}

@media (min-width: 700px) {
  audio {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
}
